@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
@-webkit-keyframes instagram {
  0% {
    color: #ffdf9e;
  }
  20% {
    color: #ffc273;
  }
  40% {
    color: #e56969;
  }
  60% {
    color: #c1558b;
  }
  80% {
    color: #8a49a1;
  }
}
@keyframes instagram {
  0% {
    color: #ffdf9e;
  }
  20% {
    color: #ffc273;
  }
  40% {
    color: #e56969;
  }
  60% {
    color: #c1558b;
  }
  80% {
    color: #8a49a1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%23a5a2aa' fill-opacity='0.11' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}

.toggle {
  cursor: pointer;
}

.toggle {
  width: 2rem;
  height: 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 2rem;
  margin-bottom: 0.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.la-toggle-off {
  font-size: 2rem;
}

.hello-animate::after {
  content: "👋🏽";
  -webkit-animation: emoji 2s infinite;
          animation: emoji 2s infinite;
}

@-webkit-keyframes emoji {
  50% {
    content: "👊🏽";
  }
}

@keyframes emoji {
  50% {
    content: "👊🏽";
  }
}

.toolbelt-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

.toolbelt-link:hover {
  color: #a8d4d2;
}

.global-header {
  background-color: #a8d4d2;
  height: 15vh;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  position: absolute;
  z-index: 10;
}

.header-navigation {
  height: 100%;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 0.5rem;
}

.header-navigation .home-logo__img {
  height: 4rem;
  width: auto;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.header-navigation #container {
  margin: 0rem;
  padding: 0rem;
  -webkit-perspective: 45px;
          perspective: 45px;
  z-index: 100;
}

#main-background {
  fill: #a8d4d2;
  position: absolute;
  width: 100vw;
  height: 40vh;
  top: 10%;
  z-index: 0;
}

footer {
  position: absolute;
  top: 430%;
  height: 30vh;
}

.footer-container {
  height: 15vh;
  width: 100vw;
  background-color: #a8d4d2;
  padding-top: 1rem;
}

.footer-container p {
  text-align: center;
  font-size: 1em;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.madeby {
  width: 15rem;
}

.flag {
  width: 15rem;
}

.flag .bahamas-flag {
  width: 10%;
  height: auto;
}

.header-navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-left: 30rem;
}

.header-navigation__list li {
  padding: 0rem 1rem 0rem 0.5rem;
}

.header-navigation__list li a:hover {
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-list__slide1 {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-list__slide1:after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 66.5%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.4s ease 0s, left 0.3s ease 0s;
  transition: width 0.4s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-list__slide1:hover:after {
  width: 5.5%;
}

.nav-list__slide2 {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-list__slide2:after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 73%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.4s ease 0s, left 0.3s ease 0s;
  transition: width 0.4s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-list__slide2:hover:after {
  width: 5.5%;
}

.nav-list__slide3 {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-list__slide3:after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 79%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.4s ease 0s, left 0.3s ease 0s;
  transition: width 0.4s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-list__slide3:hover:after {
  width: 7.8%;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
}

.portfolio-snap {
  overflow: scroll;
  height: 100vh;
  -ms-scroll-snap-points-y: repeat(100vh);
      scroll-snap-points-y: repeat(100vh);
  position: relative;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.main {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.footer-container {
  height: 20vh;
  overflow-y: hidden;
  scroll-snap-align: end;
  scroll-snap-stop: always;
}

.skills {
  position: absolute;
  top: 105%;
}

.skills-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #b29e9727;
  border-radius: 25px;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  width: 96%;
  height: 5%;
}

.skills-text:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.skills-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 25px;
  padding: 1rem;
}

.skills-heading h3 {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.skills-heading__description1 {
  font-size: 1.1rem;
  width: 100%;
}

.skills-heading__description2 {
  font-size: 0.8rem;
  font-style: italic;
}

.skills-img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.receipts {
  width: 20%;
  height: auto;
}

.skills-resume {
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1rem;
}

.skills-resume a {
  text-decoration: none;
  color: black;
}

.skills-icons {
  width: 40rem;
  height: 4rem;
  background-color: #b29e9727;
  margin-bottom: 1.5rem;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.skills-icons i {
  padding-top: 1rem;
  font-size: 2.5rem;
  color: gray;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.skills-icons i:hover {
  cursor: pointer;
}

.skills-icons:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.skills-list {
  text-align: center;
}

.skills-list__1 {
  margin-top: 2rem;
}

.skills-list__1 .html:hover {
  text-shadow: 0 0 4px #e96228;
}

.skills-list__1 .css:hover {
  text-shadow: 0 0 4px #2862e9;
}

.skills-list__1 .sass:hover {
  text-shadow: 0 0 4px #c76494;
}

.skills-list__1 .javascript:hover {
  text-shadow: 0 0 4px #f7df1e;
}

.skills-list__1 .node:hover {
  text-shadow: 0 0 4px #6fa660;
}

.skills-list__2 .bootstrap:hover {
  text-shadow: 0 0 4px #533b78;
}

.skills-list__2 .git:hover {
  text-shadow: 0 0 4px #eb4d28;
}

.skills-list__2 .vue:hover {
  text-shadow: 0 0 4px #3fb27f;
}

.skills-list__2 .wordpress:hover {
  text-shadow: 0 0 4px #207196;
}

.skills-list__2 .python:hover {
  text-shadow: 0 0 4px #fde25e;
}

.skills-list__3 .npm:hover {
  text-shadow: 0 0 4px #cb3837;
}

.skills-list__3 .database:hover {
  text-shadow: 0 0 4px #46a147;
}

.skills-list__3 .linux:hover {
  text-shadow: 0 0 4px #f0b910;
}

.skills-list__3 .aws:hover {
  text-shadow: 0 0 4px #ff9900;
}

.skills-list__3 .microsoft:hover {
  text-shadow: 0 0 4px #01a4ef;
}

.skills-list__4 .docker:hover {
  text-shadow: 0 0 4px #2391e6;
}

.skills-list__4 .figma:hover {
  text-shadow: 0 0 4px #ea4c1d;
}

.skills-list__4 .networking:hover {
  text-shadow: 0 0 4px #28a6db;
}

.skills-list__4 .security:hover {
  text-shadow: 0 0 4px #08ab4c;
}

.contact {
  position: absolute;
  z-index: 10;
  top: 310%;
}

.contact-heading {
  margin: 1rem 1rem 1rem 1rem;
  background-color: #b29e9727;
  border-radius: 25px;
  width: 96%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-heading h3 {
  padding: 0.5rem;
  margin: 0.9rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-decoration: underline;
}

.contact-heading p {
  text-align: center;
  font-size: 1rem;
}

.contact-heading:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.contact-method {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 2rem 0rem 1rem;
}

.contact-method div {
  margin: 1rem;
}

.contact-method__form {
  width: 25%;
  height: 65vh;
  background-color: #b29e9727;
  border-radius: 15px;
}

.contact-method__form .contact-form {
  padding: 0.5rem;
}

.contact-method__form .contact-form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0rem 1rem 1rem 1rem;
}

.contact-method__form .contact-form label {
  font-size: small;
}

.contact-method__form .contact-form input {
  border-radius: 5px;
  text-indent: 5px;
}

.contact-method__form .contact-form input:focus {
  border: solid 3px #a8d4d2;
}

.contact-method__form:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.contact-method__form textarea {
  border-radius: 5px;
  text-indent: 5px;
}

.contact-method__form textarea:focus {
  border: solid 3px #a8d4d2;
}

.contact-method__form .comment-submit input {
  border-radius: 5px;
}

.contact-method__form .comment-submit input:hover {
  background-color: #a8d4d2;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.contact-method__form .contact-form__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px;
  text-align: center;
  margin-top: 2rem;
}

.contact-method__blog {
  width: 25%;
  background-color: #b29e9727;
  border-radius: 15px;
  height: 65vh;
}

.contact-method__blog h4 {
  text-align: center;
  margin-bottom: 1rem;
}

.contact-method__blog .blog__heading {
  margin-bottom: 1rem;
  width: 100%;
}

.contact-method__blog:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.contact-method__blog p {
  margin-bottom: 1rem;
  text-align: left;
}

.contact-method__blog button {
  height: 5%;
  width: 95%;
  border-radius: 5px;
  margin-top: 25%;
}

.contact-method__blog button:hover {
  background-color: #a8d4d2;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.contact-method__blog button a {
  color: black;
}

.contact-method__welive {
  width: 25%;
  height: 65vh;
  background-color: #b29e9727;
  border-radius: 15px;
  text-align: center;
}

.contact-method__welive:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.contact-method__welive h4 {
  text-align: center;
}

.contact-method__welive .welive-para {
  text-align: left;
  height: 50%;
  width: 100%;
}

.contact-method__welive button {
  border-radius: 5px;
  width: 100%;
  height: 5%;
  margin-top: 13%;
}

.contact-method__welive button:hover {
  background-color: #a8d4d2;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.contact-method__welive button a {
  color: black;
}

.welive-logo {
  width: 90%;
}

.contact-method__socials {
  width: 25%;
  height: 65vh;
  background-color: #b29e9727;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.contact-method__socials:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.links-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.links-socials a {
  color: black;
  font-size: 2rem;
}

.links-gaming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.links-gaming a {
  color: black;
  font-size: 2rem;
}

.links-gaming .la-gamepad:hover {
  color: #ce011c;
}

.links-gaming .la-xbox:hover {
  color: #10780f;
}

#footer-background {
  fill: #a8d4d2;
  position: absolute;
  width: 100vw;
  height: 40vh;
  top: 395%;
  z-index: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.home {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .home-section {
  position: absolute;
  top: 20%;
  left: 4%;
  width: 40vw;
  border-radius: 15px;
  padding: 1rem;
  background-color: #b29e9727;
}

.home .home-section:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.home h2 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.9rem;
  font-weight: 500;
}

.home p {
  text-align: left;
  font-size: 1.2rem;
}

.socials {
  position: absolute;
  z-index: 15;
  left: 4%;
  top: 80%;
  font-size: 3rem;
  text-align: center;
  width: 40vw;
  height: 10vh;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #b29e9727;
}

.socials:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.socials a {
  text-decoration: none;
  color: gray;
}

.la-facebook:hover {
  color: #4064ac;
}

.la-flickr:hover {
  color: #f70080;
}

.la-github:hover {
  color: #24292e;
}

.la-instagram:hover {
  -webkit-animation: 2s ease instagram infinite;
          animation: 2s ease instagram infinite;
}

.la-linkedin:hover {
  color: #0e72a3;
}

.la-twitter:hover {
  color: #1c9cea;
}

.la-whatsapp:hover {
  color: #24cc63;
}

.frosh {
  position: absolute;
  right: 4%;
  top: 30%;
  width: 27rem;
  height: 25rem;
  background-color: #b29e9727;
  border-radius: 15px;
}

.frosh:hover {
  background-color: rgba(128, 128, 128, 0.308);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.frosh aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 15px;
  padding-bottom: 1rem;
}

.frosh-link {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.frosh-logo__container {
  margin: 1% 1% 1% 2%;
}

.frosh-logo__img {
  width: 100%;
  height: auto;
  padding-top: 1rem;
}

.frosh-blog__container {
  padding-left: 1rem;
}

.frosh-blog__container a {
  text-decoration: none;
  color: black;
}

.frosh-blog__container a:hover {
  color: black;
  text-decoration: none;
}

.frosh-blog__container a h3 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  text-decoration: underline;
  margin-bottom: 0.3rem;
}

.frosh-blog__container a p {
  font-style: italic;
  text-decoration: none;
}

.post-container {
  border-radius: 15px;
  background-color: #b29e9727;
  margin: 2.5%;
  padding: 0.2%;
  padding-left: 3%;
  margin-right: 4%;
}

.post-container:hover {
  background-color: #a8d4d2;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#socials-email {
  position: absolute;
  top: 75%;
  left: 35%;
  margin: 0%;
}

#socials-email__send {
  font-size: 1.1rem;
  color: black;
}

.work {
  position: absolute;
  top: 210%;
}

.work-heading {
  margin: 1rem 1rem 5rem 1rem;
  background-color: #b29e9727;
  border-radius: 25px;
  width: 96%;
  height: auto;
}

.work-heading:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

.work-heading h3 {
  padding: 1rem;
  margin-top: 1.5rem;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}

.work-heading p {
  font-size: 0.8rem;
  text-align: center;
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.1rem;
  list-style: none;
  padding-bottom: 1rem;
}

.work-list a {
  text-decoration: underline;
  color: black;
}

#card-deck {
  width: 90%;
  margin-left: 3rem;
}

.card-header:hover {
  background-color: #a8d4d2;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

#card-header {
  background-color: #b29e9727;
  border-radius: 15px;
}

#card-header:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

#card-body {
  background-color: #b29e9727;
  border-radius: 15px;
}

#card-body:hover {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: rgba(128, 128, 128, 0.308);
}

#btn-primary {
  background-color: #a8d4d2;
  border: #a8d4d2;
  color: black;
}

#btn-primary:hover {
  background-color: #7fa3a1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
/*# sourceMappingURL=main.css.map */