.toggle {
  // border: solid;
  width: 2rem;
  height: 2rem;
  align-self: flex-end;
  margin-left: 2rem;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 95%;
  top: 35%;
}
.la-toggle-off {
  font-size: 2rem;
}
