// Change to mixin, but keyframes for animation on instagram
@keyframes instagram {
  0% {
    color: #ffdf9e;
  }
  20% {
    color: #ffc273;
  }
  40% {
    color: #e56969;
  }
  60% {
    color: #c1558b;
  }
  80% {
    color: #8a49a1;
  }
}
// Change to mixin, but keyframes for animation on instagram
