.global-header {
  background-color: $primary-color;
  height: 15vh;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  position: absolute;
  z-index: 10;
}
//Header Navigation
.header-navigation {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  // padding-left: 1rem;
  padding-right: 0.5rem;
  // Home Logo
  .home-logo__img {
    height: 4rem;
    width: auto;
    margin-top: 1.5rem;
    margin-left: 1rem;

    // &:hover {
    // }
  }
  // Header Nav List
  #container {
    margin: 0rem;
    padding: 0rem;
    perspective: 45px;
    z-index: 100;
  }
}
// .header-wrapper__end {
//   width: 100vw;
//   height: 100vh;
// }
#main-background {
  fill: $primary-color;
  position: absolute;
  width: 100vw;
  height: 40vh;
  top: 10%;
  z-index: 0;
}
