.header-navigation__list {
  list-style: none;
  display: flex;
  position: absolute;
  left: 75%;
  top: 35%;

  // List Items
  li {
    padding: 0rem 1rem 0rem 0.5rem;

    a:hover {
      font-size: 1.5rem;
      text-decoration: none;
    }
  }
}
// Slider below Nav bar highlighting topics START
.nav-list__slide1 {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-list__slide1:after {
  // background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 5%;
  left: 0%;
  position: absolute;
  background: #fff;
  transition: width 0.4s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-list__slide1:hover:after {
  width: 30%;
  // left: 0;
}

.nav-list__slide2 {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-list__slide2:after {
  // background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 5%;
  left: 30%;
  position: absolute;
  background: #fff;
  transition: width 0.4s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-list__slide2:hover:after {
  width: 30%;
  // left: 0;
}

.nav-list__slide3 {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-list__slide3:after {
  // background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  height: 5%;
  left: 57%;
  position: absolute;
  background: #fff;
  transition: width 0.4s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-list__slide3:hover:after {
  width: 43%;
  // left: 0;
}
// Slider below Nav bar highlighting topics END
