html,
body {
  height: 100vh;
  overflow-x: hidden;
}

.portfolio-snap {
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  position: relative;
  scroll-snap-type: y mandatory;
}

.main {
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.footer-container {
  height: 20vh;
  overflow-y: hidden;
  scroll-snap-align: end;
  scroll-snap-stop: always;
}
