// Heading START
.home {
  border-radius: 15px;
  display: flex;
  align-items: center;

  .home-section {
    position: absolute;
    top: 40%;
    left: 4%;
    width: 50vw;
    border-radius: 15px;
    padding: 5rem;
    background-color: #b29e9727;
    box-shadow: 5px 4px #b29e976c;

    &:hover {
      transition: 1s ease;
      background-color: rgba(128, 128, 128, 0.308);
    }
  }

  h2 {
    text-align: center;

    padding-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 500;
  }
  p {
    text-align: center;
    font-size: 1.1rem;
  }
}
// Heading END

// Social Media START
.socials {
  position: absolute;
  z-index: 15;
  left: 9%;
  top: 75%;
  font-size: 5rem;
  text-align: center;
  width: 40vw;
  height: 10vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b29e9727;
  box-shadow: 5px 4px #b29e976c;

  &:hover {
    transition: 1s ease;
    background-color: rgba(128, 128, 128, 0.308);
  }
  a {
    text-decoration: none;
    color: gray;
  }
}
.la-facebook:hover {
  color: #4064ac;
}
.la-flickr:hover {
  color: #f70080;
}
.la-github:hover {
  color: #24292e;
}
.la-instagram:hover {
  animation: 2s ease instagram infinite;
}
.la-linkedin:hover {
  color: #0e72a3;
}
.la-twitter:hover {
  color: #1c9cea;
}
.la-whatsapp:hover {
  color: #24cc63;
}
// Social Media END

// Frosh Tech Blog START

.frosh {
  position: absolute;
  right: 20%;
  top: 50%;
  width: 27rem;
  height: 25rem;
  background-color: #b29e9727;
  border-radius: 15px;
  box-shadow: 5px 4px #b29e976c;

  &:hover {
    background-color: rgba(128, 128, 128, 0.308);
    transition: 1s ease;
  }

  aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding-bottom: 1rem;
  }
}

// Frosh Logo and link to website START
.frosh-link {
  width: 40%;
  display: flex;
  align-self: center;
}
.frosh-logo__container {
  margin: 1% 1% 1% 2%;
}
.frosh-logo__img {
  width: 100%;
  height: auto;
  padding-top: 1rem;
}
// Frosh Logo and link to website END

// Frosh Feed START
.frosh-blog__container {
  padding-left: 1rem;

  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: black;
      text-decoration: none;
    }

    h3 {
      font-size: 1.5rem;
      margin-top: 0.5rem;
      text-decoration: underline;
      margin-bottom: 0.3rem;
    }

    p {
      font-style: italic;
      text-decoration: none;
    }
  }
}

.post-container {
  border-radius: 15px;
  background-color: #b29e9727;
  margin: 2.5%;
  padding: 0.2%;
  padding-left: 3%;
  margin-right: 4%;

  &:hover {
    background-color: #a8d4d2;
    transition: 1s ease;
  }
}
// Frosh Feed END

// Frosh Tech Blog END
#socials-email {
  position: absolute;
  top: 70%;
  left: 45%;
  margin: 0%;
}
#socials-email__send {
  font-size: 1.1rem;
  color: black;
}
