.skills {
  position: absolute;
  top: 100%;
}

.skills-text {
  display: flex;
  background-color: #b29e9727;
  border-radius: 25px;
  margin: 1rem 1rem 1rem 1rem;
  padding: 1rem;
  width: 96%;
  height: 5%;
  box-shadow: 5px 4px #b29e976c;

  &:hover {
    transition: 1s ease;
    background-color: rgba(128, 128, 128, 0.308);
  }
}
// Skills Headings START
.skills-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 25px;
  padding: 1rem;

  h3 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 500;
  }
}
.skills-heading__description1 {
  font-size: 1.1rem;

  width: 100%;
}
.skills-heading__description2 {
  font-size: 0.8rem;
  font-style: italic;
}
.skills-img {
  align-self: flex-end;
}
.receipts {
  width: 20%;
  height: auto;
}
.skills-resume {
  width: 8rem;
  display: flex;
  align-items: flex-end;
  font-size: 1rem;

  a {
    text-decoration: none;
    color: black;
  }
}
// Skills Headings END

// Skill Icons START
.skills-icons {
  width: 40rem;
  height: 4rem;
  background-color: #b29e9727;
  box-shadow: 5px 4px #b29e976c;
  margin-bottom: 1.5rem;
  border-radius: 25px;
  display: flex;
  justify-content: space-around;

  i {
    padding-top: 1rem;
    font-size: 2.5rem;
    color: gray;
    align-self: center;

    &:hover {
      cursor: pointer;
    }
  }

  &:hover {
    transition: 1s ease;
    background-color: rgba(128, 128, 128, 0.308);
  }
}
// ############################
// Skills List One
// ############################

.skills-list {
  text-align: center;
}
.skills-list__1 {
  margin-top: 2rem;
  // HTML
  .html {
    &:hover {
      text-shadow: 0 0 4px #e96228;
    }
  }
  // CSS
  .css {
    &:hover {
      text-shadow: 0 0 4px#2862e9;
    }
  }
  //SASS
  .sass {
    &:hover {
      text-shadow: 0 0 4px #c76494;
    }
  }
  //JavaScript
  .javascript {
    &:hover {
      text-shadow: 0 0 4px#f7df1e;
    }
  }
  //Node
  .node {
    &:hover {
      text-shadow: 0 0 4px#6fa660;
    }
  }
}
// ############################
// Skills List Two
// ############################
.skills-list__2 {
  //Bootstrap
  .bootstrap {
    &:hover {
      text-shadow: 0 0 4px #533b78;
    }
  }
  //Git
  .git {
    &:hover {
      text-shadow: 0 0 4px #eb4d28;
    }
  }
  //Vue
  .vue {
    &:hover {
      text-shadow: 0 0 4px #3fb27f;
    }
  }
  //Wordpress
  .wordpress {
    &:hover {
      text-shadow: 0 0 4px#207196;
    }
  }
  //Python
  .python {
    &:hover {
      text-shadow: 0 0 4px#fde25e;
    }
  }
}
// ############################
// Skills List Three
// ############################
.skills-list__3 {
  //NPM
  .npm {
    &:hover {
      text-shadow: 0 0 4px #cb3837;
    }
  }
  //Database
  .database {
    &:hover {
      text-shadow: 0 0 4px #46a147;
    }
  }
  //linux
  .linux {
    &:hover {
      text-shadow: 0 0 4px #f0b910;
    }
  }
  //AWS
  .aws {
    &:hover {
      text-shadow: 0 0 4px #ff9900;
    }
  }
  //Microsoft
  .microsoft {
    &:hover {
      text-shadow: 0 0 4px #01a4ef;
    }
  }
}
// ############################
// Skills List Four
// ############################
.skills-list__4 {
  //Docker
  .docker {
    &:hover {
      text-shadow: 0 0 4px #2391e6;
    }
  }
  //Figma
  .figma {
    &:hover {
      text-shadow: 0 0 4px #ea4c1d;
    }
  }
  //Networking
  .networking {
    &:hover {
      text-shadow: 0 0 4px #28a6db;
    }
  }
  //Security
  .security {
    &:hover {
      text-shadow: 0 0 4px #08ab4c;
    }
  }
}
// Skill Icons END

// Skills Section Hide and Reveal START

// Skills Section Hide and Reveal END
